.scrollToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .scrollIcon {
    width: 60px;
    height: 60px;
  }
  
  .scrollToTop:hover {
    background-color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px #fff;
  }