@import "../../vars.css";

.container {
  background-color: rgba(12, 12, 12, 0.6);
  color: var(--color-text);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  margin-top: 60px;
  border-radius: 2%;
  margin: 2%;
}

.text {
  text-align: center;
}

.sitename {
  font-size: 48px;
  font-weight: 700;
  color: var(--color-accent);
  margin-bottom: 10px;
}

.tagline {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--color-text);
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.socialIcon {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.footerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--color-text);
  text-align: center;
}

.footerBottom span {
  color: var(--color-text);
}

.footerBottom .sitename {
  color: var(--color-accent);
}

@media screen and (max-width: 830px) {
  .container {
    padding: 40px 5%;
    gap: 30px;
  }

  .sitename {
    font-size: 36px;
  }

  .tagline {
    font-size: 20px;
  }

  .socialLinks {
    gap: 20px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }

  .footerBottom {
    font-size: 12px;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-text);
}

.inputField::placeholder,
.textareaField::placeholder {
  color: var(--color-text);
  opacity: 0.8;
}

.textareaField {
  height: 120px;
  resize: none;
}

.submitButton {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-background);
  background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-accent-hover) 100%);
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, border 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  margin: 0 auto;
}

.submitButton:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, var(--color-accent-hover) 0%, var(--color-accent) 100%);
}

.submitButton:active {
  transform: scale(0.98);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}