:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #38615b;
    --color-secondary: #3f9e9e;
    --color-dark: #38615b;
    --color-bg: #163939;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  